@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
}

nav ul li a.active {
  background-color: theme(--color-slate-600);
}

/*
  FOR LOADER
*/
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, theme(--color-purple-600) 94%, #0000) top/8px
      8px no-repeat,
    conic-gradient(#0000 30%, theme(--color-purple-600));
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}

.loader-mini {
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, theme(--color-neutral-300) 94%, #0000)
      top/8px 8px no-repeat,
    conic-gradient(#0000 30%, theme(--color-neutral-300));
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 7px), #000 0);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 7px), #000 0);
  animation: l13 1s infinite linear;
}

@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
